* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.secao-limitada {
    width: 1024px;
    max-width: 1024px;
    margin: 0 auto;
}

.menu {
    background-color: #2f86d6;
}

.home {
    display: flex;
    padding: 35px 0;
}

.logotipo {
    position: relative;
}

.logotipo span {
    position: absolute;
    top: 0;
    margin-left: 25px;
}

.logotipo img {
    width: 15%;
}

.logotipo p {
    color: #fff;
    font-weight: bold;
}

.links {
    font-size: 18px;
    padding-top: 30px;
    margin-left: 50px;
}

.links a {
    padding-right: 15px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;    
}

h1 {
    font-size: 32px;
}

.tabela {
    padding: 100px 0;
    background-color: #fff;
}

.tabela h2{
    font-size: 32px;
    text-align: center;
}

.tabela p {
    text-align: center;
}

table {
    margin: auto;
    background-color: f6f6f6;
}

table img {
    width: 100px;
}

table thead tr th {
    padding: 20px;
    background-color: #fff;
}

table thead tr th p {
    font-size: 13px;
    color: #a89f9f;
    font-weight: normal;
}

table tbody tr td {
    padding: 20px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #f1f3f7; 
    border-right: 1px solid #f1f3f7; 
}

.linha-cinza {
    background-color: #f1f3f7;
    font-weight: 700;
    text-align: left;
}

.rodape {
    text-align: center;
}

.conteine-rodape {
    background-color: #2f86d6;
    padding: 80px 0;
    text-align: left;
}

.conteine-rodape .logo {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-bottom: 20px;
}

.conteine-rodape p {
    color: #fff;
}

.conteine-rodape span {
    margin-left: 15px;
}

.rodape-informacoes {
    text-align: center;
}

.rodape img {
    width: 80px;
}

.barra-final {
    padding: 20px 0;
    font-weight: 700;
}

.barra-final span {
    color: #2f86d6;
}

.bolinha-azul div {
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: #2f86d6;
    border-radius: 50%;
    color: #2f86d6;
}

.seta img {
    width: 50px;
    height: 50%;
    filter: grayscale(100%);
    filter: opacity(60%);
}

.seta {
    position: fixed;
    bottom: 0px;
    right: 20px;
}